<div class = "container-fluid">
  <h2 class = "update-listing">Update Listing</h2>
    <%= render "form" %>
    <%= form_for [@neighborhood, @listing], method: "delete" do |f| %>
    <%= f.submit "Delete Listing", class: "delete" %>
  <% end %>
</div>
