<h1 class = "neighborhood-title"> Current Listings for <%=@neighborhood.title %></h1>
<%= link_to "Add listing (+)", new_neighborhood_listing_path(@neighborhood) %>
<div id = "neighborhood-show" class = "container">
  <div class = "row">
    <div class = "neighborhood, col-lg-12">
      <% @neighborhood.listings.each do |listing| %>
      <h3><%= link_to(listing.name, neighborhood_listing_path(@neighborhood, listing))%></h3>
      <%= image_tag(listing.photo_url, class: "listing-photo") %>
      <% end %>
    </div>
  </div>
</div>
