<h1><%= @neighborhood.title %></h1>
<h1><%= @neighborhood.description %></h1>


<button><%= link_to "See all Listings for @neighborhood.title", neighborhood_listings_path(@neighborhood, @listing)%></button>
