@import "bootstrap";

h1{
  font-size: 30px;
  text-align: center;
}
.neighborhood-title{
  border: 1px solid pink;
  color: red;
}
h2{
  font-size: 20px;
  color: red
}

.neighborhood-description {
  color: purple;
}

button {
  margin: 1em;
}

.panel-heading a {
  font-size: 40px;
  color: red;
}

.navbar-brand {
  font-size: 20px;
}



#neighborhood-container {
    border: 1px dashed gray;
    height: 320px;
}

.listing-grid {
  border: 1px dashed green;
}
