@import "bootstrap";

body {
  background-image: url("sketch.jpg");;
}

#neighborhood-container {
    border: 1px dashed gray;
    height: 300px;
    margin-top: 40px;
    background: lightgray;
}
.neighborhood-title{
  color: gray;
  font-size: 30px;
  text-align: center;

}
.neighborhood-description {
  color: purple;
  font-size: 15px;
  color: gray;
}
button {
  margin: 1em;
}
.panel-heading a {
  font-size: 40px;
  color: red;
}

.navbar-brand {
  font-size: 20px;
}

#listing-container {
  margin-top: 1em;
}
.listing-grid {
  border: 1px dashed green;
}
.listing-photo {
  width: 200px;
}
