@import "bootstrap";

body {
  background-image: url("sketch.jpg");
  font-family: 'Josefin Sans', sans-serif;
}

.navbar {
  padding: 2em;
  background: #e5e3c9;
}
.nav-description {
  margin-right: 2em;
}

#neighborhood-container {
    height: 340px;
    margin-top: 2em;
    margin-bottom: 1em;
    background: lightgray;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

.neighborhood-index {
  margin-top: 5em;
  margin-bottom: 3em;
}

#neighborhood-container:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .8;
}
.neighborhood-title{
  color: white;
  font-size: 30px;
  text-align: center;
}
.neighborhood-title:hover {
  color: black;
  text-decoration: none;
}
.neighborhood-description {
  color: #FDF5E6;
  font-size: 15px;
  line-height: 20px;
}
.neighborhood-description:hover{
  color: #FDF5E6;
  text-decoration: none;
}
.neighborhood-title-show{
  color: #d41b1b;
  font-size: 26px;
  text-align: center;
}
h2 {
  line-height: 20px;
}
button {
  margin: 1em;
}

.panel-default .panel-heading {
  background: #d5d4c4;
}
.panel-heading a {
  font-size: 26px;
  color: #d41b1b;
  text-align: center;
}

.navbar-brand {
  font-size: 30px;
}

#listing-container {
  margin-top: 1em;
  background: lightgray;
  border-radius: 8px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);

}

#listing-container:hover {
    cursor: hand;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}
.listing-photo {
  width: 300px;
  border-radius: 5px;
}

.listing-name:hover{
  color: white;
  text-decoration: none;
}

.listing-show {
  margin: 1em;
}
.listing-show a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}
.listing-show a:hover{
  text-decoration: none;
  color: black;
}
.listing-show-page {
  margin: 6em 0;
}

.neighborhood-show {
  margin-top: 6em;
  margin-bottom: 4em;
}

.sign-up, {
  margin-top: 1em;
}

.sign-in {
  margin-top: 5em;
}

.listing-add a{
  font-size: 20px;
  color: gray;
}

.search {
  font-size: 20px;
}

.search-listing {
  border-radius: 10px;
  padding: 1em;
  background: #d5d4c4;
  -webkit-box-shadow: -1px 2px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 15px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 15px 0px rgba(0,0,0,0.75);
}

.new-listing {
  margin-top: 5em;
}
.test {
  padding-top: 1em;
}

.panel-heading .fa-arrow-circle-left{
  color: gray;
  font-size: 2em;
  padding: 1em;
}

tr th{
  font-weight: bold;
  font-size: 16px;
}

.nav-description a {
  font-size: 16px;
}

.collapse .navbar-nav li a {
  font-size: 18px;
}
